!!!
%html
  %head
    %title The Best Site Evar!
    %link{:href => '/css/master.css', :rel => 'stylesheet'}
    %link{:href => '/css/bootstrap.min.css', :rel => 'stylesheet'}
    %script{:src => '/js/jquery-1.11.2.min.js', :type => 'text/javascript'}
    %script{:src => '/js/bootstrap.min.js', :type => 'text/javascript'}
    %script{:src => '/js/master.js', :type => 'text/javascript'}

    :javascript
      $(document).ready(function(){

      });
  %body{:role => "document"}
    .container{:role => "main"}
      = yield
